*
{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
}

.formStyle
{
  width: 40%;
}

.inputText
{
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  border: 2px solid lightgray;
  padding:0.5rem;
}

legend,
.labelStyle
{
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.25rem;
}

select option{
  border-radius: 0px;
}

.border-none
{
  border: none;
}
.flexbox
{
  display: flex;
  padding-left: 0.5rem;
}
.marginLeftTop
{
  margin-left: 1rem;
  margin-top: 1rem;
}
p{
  color:grey;
  padding-left: 0.25rem;
}
.marginLeft
{
  margin-left: 1rem;;
}

button
{
  padding:0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(77, 91, 242);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border:1px solid rgb(10, 29, 245);
}